- title = 'Dashboard'
include include/head
- loggedIn = true
- dashboard = true
include include/navbar

.mx-auto.px-8.pt-10
  h1.text-black.font-bold.text-xl Characters
.flex.flex-col.w-full.flex-wrap
  .flex.flex-wrap.flex-col(class='md:flex-row')
    each char in chars
      .flex.flex-wrap.bg-white.border-b.border-blue-tial-100.mx-5(class='md:w-1/2 lg:w-1/5')
        .flex.w-full
          .flex.items-center
            .flex.flex-col.p-4
              h3.font-bold.text-md.text-tial-400 #{char.CharacterName}
              span.font-light.text-sm FTG : #{char.Fatigue}
              if char.Point == null
                span.font-light.text-sm Point : 0
              else
                span.font-light.text-sm Point : #{char.Point}
              .flex

