doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title DN Miku | Dashboard
    script(src='https://kit.fontawesome.com/36c08e2acc.js', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Quicksand|Palanquin')
nav
    .nav-item
        ul
            li.nav-not-active
                a(href='/') Home
            li.nav-active
                a(href='/dashboard') Dashboard
            li.nav-not-active
                a(href='/logout') Log out
h1.title Account Name
h2.title #{user.AccountName}
section.dashboard
    .account-dashboard
        h1 Cash
        p #{user.cash}



