footer.body-font
    .bg-black
        .container.px-3.py-3.mx-auto.flex.items-center.flex-col(class='sm:flex-row')
            a.flex.title-font.font-medium.items-center.justify-center(class='md:justify-start')
                img.w-20.h-15.text-white.p-2(src='/img/logo.png')
            span.inline-flex.mt-4.justify-center(class='sm:ml-auto sm:mt-0 sm:justify-start')
                .text-md.text-center.text-red-300.font-regular(class='sm:text-right') Server Time (GMT +7)
                    .text-white.text-3xl.font-thin.tracking-wide#datetime #{datetime}

script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
script(src="/js/app.js")
script(src="/js/moment.min.js")