doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title DN Miku
    script(src='https://kit.fontawesome.com/36c08e2acc.js', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Quicksand|Palanquin')
nav
    .nav-item
        ul
            li.nav-active
                a(href='/') Home
            li.nav-not-active
                a(href='/dashboard/') Dashboard
            li.nav-not-active
                a(href='/logout/') Log out
main
    div
        h1 DN Miku
section.stats
    .accounts
        i.fas.fa-user
        h1 Accounts
        p #{nowTotalAccount}
    .characters
        i.fas.fa-users
        h1 Characters
        p #{nowTotalCharacter}
    .online
        i.fas.fa-globe
        h1 Online
        p #{nowOnline}