<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DN Miku</title>
  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="https://kit.fontawesome.com/36c08e2acc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand|Palanquin">
</head>

<body>
  <nav>
    <div class="nav-item">
      <ul>
        <li class="nav-active"><a href="/">Home</a></li>
        <li class="nav-not-active"><a href="/download/">Download</a></li>
        <li class="nav-not-active"><a href="/register/">Register</a></li>
        <li class="nav-not-active"><a href="/login/">Login</a></li>
      </ul>
  </nav>

  <main>
    <div>
      <h1>DN Miku</h1>
    </div>
  </main>

  <section class="stats">
    <div class="accounts">
      <i class="fas fa-user"></i>
      <h1>Accounts</h1>
      <p></p>
    </div>

    </div>
    <div class="characters">
      <i class="fas fa-users"></i>
      <h1>Characters</h1>
      <p></p>
    </div>
    <div class="online">
      <i class="fas fa-globe"></i>
      <h1>Online</h1>
      <p></p>
    </div>
  </section>



  <div id="loading"></div>
  <script src="/js/script.js"></script>
</body>

</html>