doctype html
meta(http-equiv='content-type', content='text/html;charset=UTF-8')
head
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(charset='utf-8')
  title DN Miku | Launcher
  link(rel='stylesheet', type='text/css', href='/css/reset.css')
  link(rel='stylesheet', type='text/css', href='/css/base.css')
  link(rel='stylesheet', type='text/css', href='/css/etc.css')
  link(rel='stylesheet', type='text/css', href='/css/launcher.css')

body(oncontextmenu="return false" ondragstart="return false" onselectstart="return false" style="overflow: hidden;")
  #lchrWrap
    .vLlchr
      ul.slider
        li
          a()
            img(src='https://deno.land/images/deno_logo_4.gif', alt='', style='width: 401px; height: 366px')
    .vRlchr
      .newLchr
        h1.title.text-green Register
        .imgUp
