<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DN Miku | Register</title>
	<link rel="stylesheet" type="text/css" href="/css/signUp.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand|Palanquin">

</head>

<body>
	<nav>
		<div class="nav-item">
			<ul>
				<li class="nav-not-active"><a href="/">Home</a></li>
				<li class="nav-not-active"><a href="/download/">Download</a></li>
				<li class="nav-active"><a href="/register/">Register</a></li>
				<li class="nav-not-active"><a href="/login/">Login</a></li>
			</ul>
	</nav>
	<section class="signup">
		<div class="container">
			<div class="signup-content">
				<form method="POST" action="/register" id="signup-form" class="signup-form">
					<h2 class="form-title">Register</h2>
					<div class="form-group">
						<input type="text" class="form-input" name="id" id="id" placeholder="Username" />
						<small class="error"> <?= form_error('id'); ?> </small>
					</div>

					<div class="form-group">
						<input type="email" class="form-input" name="email" id="email" placeholder="Enter your email"/>
						<small class="error"></small>
					</div>

					<div class="form-group">
						<input type="password" class="form-input" name="password" id="password"
							placeholder="Password" />
						<small class="error"></small>
					</div>

					<div class="form-group">
						<input type="password" class="form-input" name="confirm-password" id="confirm-password"
							placeholder="Repeat your password" />
					</div>

					<input type="submit" name="submit" id="submit" class="form-submit" value="Submit" />
				</form>
			</div>
		</div>
	</section>
</body>

</html>