- title = 'Setting'
include include/head
- loggedIn = true
- setting = true
include include/navbar

.mx-auto.max-w-6xl.p-12
  .flex.flex-col.justify-center(class='md:flex-row')
    .shadow-md.bg-white.flex-auto.max-w-sm.p-10.pb-20
      p.text-sm.text-center.text-green-500 #{message}
      form(action='/setting' method='post')
        .w-full
          .font-bold.h-6.mt-3.text-gray-600.text-xs.leading-8.uppercase
            span.text-red-400.mr-1 *
            | Previous Password
          .my-2.bg-white.p-1.flex.border-b-2.border-red-300
            input.p-1.px-2.appearance-none.outline-none.w-full.text-gray-800(placeholder='Previous Password' name='previousPassword' type='password' required='' autocomplete="off")
          p.text-right.text-red-500.text-xs #{error.previousPasswordError}
        .w-full
          .font-bold.h-6.mt-3.text-gray-600.text-xs.leading-8.uppercase
            span.text-red-400.mr-1 *
            | Password
          .my-2.bg-white.p-1.flex.border-b-2.border-red-300
            input.p-1.px-2.appearance-none.outline-none.w-full.text-gray-800(placeholder='New Password' name='newPassword' type='password' required='' autocomplete="off")
          p.text-right.text-red-500.text-xs #{error.newPasswordError}
        .mt-6.relative
          input.font-medium.py-2.px-4.text-red-300.cursor-pointer.bg-black.rounded.text-lg.tr-mt.absolute.text-center.w-full(class='hover:text-red-400' type='submit' value='Change Password')
