@charset "utf-8";

/*base*/
a{text-decoration:none;color:#666;}
a:active {background-color:transparent;}
a:hover {color:#666;text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-size:100%;color:#333;}
body{word-break:break-all;}
body,code{font:0.75em "맑은 고딕",Malgun Gothic,"돋움",Dotum,"굴림",Gulim,sans-serif;color:#666;background:#fff;}
input,select,textarea{color:#666;font-size:100%;font-family:"맑은 고딕",Malgun Gothic,"돋움", Dotum;}

/*ir기법*/
.hide {font-size:0;width:0;height:0;line-height:0;visibility:hidden;}