doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='keywords', content='Miku DN, DN Miku, Dragon Nest, DNPS, Dragon Nest Private Server')
  meta(name='language', content='English')
  meta(name='type', content='website')
  meta(property='og:site_name', content='DN Miku')
  meta(property='og:image', content='/favicon.ico')
  meta(property='og:type', content='website')
  meta(property='og:title', content='DN Miku')
  meta(property='og:description', content='Dragon Nest Private Server')
  link(rel='manifest' href='/manifest.json')
  title DN Miku | #{title}
  link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
  link(rel='stylesheet' href='/css/tailwind.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')