nav.bg-black.px-8.pt-2.shadow-md
    .-mb-px.flex.justify-center
        if loggedIn
            if home
                a.no-underline.text-red-300.border-b-2.border-red-300.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/') Home 
            else
                a.no-underline.text-white.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/')  Home 

            if dashboard
                a.no-underline.text-red-300.border-b-2.border-red-300.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/dashboard') Dashboard 
            else
                a.no-underline.text-white.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/dashboard')  Dashboard
            a.no-underline.text-white.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/logout') Log out 

        else
            if home
                a.no-underline.text-red-300.border-b-2.border-red-300.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/') Home 
            else
                a.no-underline.text-white.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/')  Home 

            if download
                a.no-underline.text-red-300.border-b-2.border-red-300.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/download') Download
            else
                a.no-underline.text-white.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/download')
                    | Download

            if register
                a.no-underline.text-red-300.border-b-2.border-red-300.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/register') Register
            else
                a.no-underline.text-white.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/register')  Register 

            if login
                a.no-underline.text-red-300.border-b-2.border-red-300.uppercase.tracking-wide.font-bold.text-xs.py-3.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/login') Log in
            else
                a.no-underline.text-white.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.transition.ease-in-out.duration-200(class='hover:text-red-300' href='/login')
                    | Log in