body {
	font-family: Palanquin;
	margin: 0;
	padding: 0;
}

nav {
	font-family: Quicksand;
	background-color: #181a1f;
	color: white;
}

.nav-item {
	padding: 10px 10%;
	font-size: 18px;
}

.nav-item ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.nav-item li {
	display: inline-block;
	flex-basis: 110px;
}

.nav-item a {
	display: block;
	color: white;
	text-align: center;
	padding: 7px 16px;
	text-decoration: none;
}

.nav-active a {
	color: #e37c7e;
	fill: #e37c7e;
}


.nav-not-active a:hover {
	color: #e37c7e;
	-webkit-transition: color .125s ease-in;
	-moz-transition: color .125s ease-in;
	-o-transition: color .125s ease-in;
	-ms-transition: color .125s ease-in;
	transition: color .125s ease-in;
}

main {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 10vmin 1rem;
	background-image: url(/image/banner.jpg);
}

main h1 {
	color: white;
	font-size: 72px;
	margin-top: 0;
	margin-left: 7%;
}

.stats {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.accounts,
.characters,
.online {
	border: 1px solid #e6e6e6;
	margin: 15px;
	width: 15%;
	text-align: center;
}

.accounts p,
.characters p,
.online p {
	font-size: 18px;
}

.accounts h1,
.characters h1,
.online h1 {
	margin: 10px;
}

.fas {
	margin-top: 5px;
	font-size: 2rem;
}

@media screen and (max-width: 768px) {

	.accounts,
	.characters,
	.online {
		border: 1px solid #e6e6e6;
		margin: 15px;
		width: 50%;
		text-align: center;
	}
}